@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*reset html*/
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  p {
    font-size: 1rem;
}

html, body {
    height: 100%;
}

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.mensaje-error {
    color: red;
    font-size: 12px;
}

#indicador {
  color: red;
  font-weight: bolder;
}





/** Boton de scroll to top*/
.scroll-top-button {
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #663399;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #fff;
  border-radius: 50px;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: none;
}

/* Mostrar el botón cuando se hace scroll */
.show-scroll-button {
  display: block;
}

.scroll-top-button:hover{
  background-color: #9a4be9;
  color: #212529;
}
/* Boton de agregar producto */
.add-product-button {
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #663399;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #fff;
  border-radius: 50px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.add-product-button:hover {
  background-color: #9a4be9;
  color: #212529;
}